.Header {
    width: 100%;
    height: 800px;
    background-color: #221F30;
}

.Header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}

.Header_info {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.Header_links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.Header_link:hover {
    color: #084CF0;
}

.Header_link {
    font-size: 18px;
    font-weight: 500;
    color: #7F7A7A;
    letter-spacing: 2px;
    margin-left: 60px;
    text-decoration: none;
    font-family: Unbounded;
}

.Logo {
    width: auto;
    height: auto;
}

.Header_btn {
    width: 150px;
    height: 50px;
    border-style: solid;
    border-color: white;
    background-color: #221F30;
    border-radius: 25px;
    border-width: 3px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: Unbounded;
}

.Header_main_txt {
    font-size: 80px;
    line-height: 100px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-family: Unbounded;
}
.Header_main_line_one, .Header_main_line_two {
    display: flex;
    flex-direction: row;
}

.Header_main_line_one {
    justify-content: space-between;
    margin-right: 20px;
}

.Header_main_line_two {
    justify-content: flex-start;
    margin-left: 10%;
}

#right_img {
    width: 680px;
    height: auto;
}

#left_img {
    width: auto;
    height: 250px;
    position: absolute;
}


#find {
    padding-left: 8%;
}
  
#your {
    margin-top: 0px;
    margin-left: 25%;
}
  
#team {
    padding-left: 50%;
    position: absolute;
    margin-top: 0px;
}

.Header_reg {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header_reg_txt {
    font-size: 15px;
    color: #7B7B7B;
    font-family: Unbounded;
}

.Header_reg_btn {
    background-color: white;
    text-transform: uppercase;
    height: 65px;
    width: 150px;
    border-style: none;
    border-radius: 19px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
    letter-spacing: 1px;
    font-family: Unbounded;
}

.Header_reg_link {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #7F7A7A;
    font-family: Unbounded;
}

.Header_reg_link:hover {
    color: #084CF0;
}