.HowItWorks {
    margin-top: 150px;
}

.HowItWorks_txt {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin-left: 35px;
    font-family: Unbounded;
}


.Messages_block, .Instruction_block {
    display: flex;
    flex-direction: row;
}

.Messages_block {
    justify-content: flex-start;
    margin-left: 15px;
}

.Instruction_block {
    margin-left: 200px;
}

.Messages_img {
    width: 250px;
    height: auto;
    margin-left: 15px;
    margin-top: 20px;
}

.Instruction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Instruction_img {
    width: 80px;
    height: auto;
}

.Instruction_txt {
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 12px;
    font-weight: 400;
    font-family: Unbounded;
}

.Wave_img {
    width: 100%;
    margin-top: 0px;
}

.Authors {
    position: absolute;
    margin-top: -70px;
    color: white;
    font-family: Unbounded;
    font-size: 15px;
    font-weight: 400;
    margin-left: 40px;
    letter-spacing: 1px;
}